<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLServer.My.MySettings.TESTConnectionString" connectionString="Data Source=DESKTOP-SOVL3I9\SQLEXPRESS;Initial Catalog=TEST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>